.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin: 0 auto;
}
h2 {
  color: #012877;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}
.inputsBlock {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
.sendBtnContainer {
  width: 100%;
  display: flex;
  justify-content: right;
}
/* #message {
  width: 500px;
} */
/* .message {
  border: none;
  background-color: rgba(1, 40, 119, 0.2);
  border-bottom: 2px solid #012877;
  border-radius: 3px 3px 0px 0px;
  padding: 5px 4px 4px 4px;
}
.message:hover {
  box-shadow:inset 0 0 30px 1px rgba(1, 40, 119, 0.2);
}
.message:focus {
  outline: 0;
}
.invalid {
  background-color: rgba(255, 0, 0, 0.2);
  border-bottom: 2px solid #a70000;
}
.invalid:hover {
  box-shadow:inset 0 0 30px 1px rgba(255, 0, 0, 0.2);
} */